@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- GIAO DIỆN SÁNG (LIGHT THEME) --- */
.light-theme {
  filter: invert(1) hue-rotate(180deg);
  background-color: white; 
}
.light-theme img,
.light-theme video {
  filter: invert(1) hue-rotate(180deg);
}